*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
}

#nav{
    height: 50px;
    width: 100%;
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    justify-content: center;    
    gap: 35px;
}

#nav a{  
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: white;
}

#center{
    position: absolute;
    top: 20%;
    height: 80%;
    width: 100%;
    background-image: url(https://www.apple.com/v/iphone-17-pro/c/images/overview/welcome/hero__bdntboqignj6_medium_2x.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

#text h1{
    padding: 50px;
    font-size: 100px;
    display: flex;
    align-items:center;
    justify-content: center;
    background: -webkit-linear-gradient(#FF9A54, #FF9A54);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

#links button{
    background-color: royalblue;
    padding: 15px 24px;
    border-radius: 30px;
    border: none;
    font-weight: 500;
    color: white;
    font-size: 20px;
}